@function rem($value) {
	$remValue: ($value / 16)+rem;
	@return $remValue;
}

// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	//BURGER!!

	.body__image {
		display: none;
	}

	.body__content {
		flex: 0 1 100%;
		text-align: center;
	}

	.content__button {
		margin: 0 auto;
	}
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	.head__menu {
		font-size: rem(20);
	}

	.content__title {
		font-size: rem(46);
		margin: 15px 0 25px 0;
	}

	.content__text {
		font-size: rem(22);
		margin: 15px 0 25px 0;
	}

	.content__button {
		display: block;
		max-width: rem(350);
		max-height: rem(65);
		line-height: rem(65);
		font-size: rem(18);
	}

	.head__logo {
		flex: 0 1 50%;
	}

	.head__menu {
		flex: 0 1 50%;
		padding: 0 0 0 30px;
	}

	.head__menu li {
		display: inline-block;
		margin: 0 25px 10px 0px;
	}

	.body {
		padding: 100px 0 0 0;
	}

	.body__image {
		padding: 0 0 0 15px;
		width: 80%;
		height: 80%;
	}
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1299.98px) {
	.head__menu li {
		display: inline-block;
		margin: 0 18px 10px 0px;
	}
}