@font-face {
	font-family: 'Circular';
	src: url('../fonts/CircularStd-Bold.eot');
	src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CircularStd-Bold.woff2') format('woff2'),
		url('../fonts/CircularStd-Bold.woff') format('woff'),
		url('../fonts/CircularStd-Bold.ttf') format('truetype'),
		url('../fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Circular';
	src: local('../fonts/Euclid Circular Light'), local('Euclid-Circular-Light'),
		url('../fonts/EuclidCircularA-Light.woff2') format('woff2'),
		url('../fonts/EuclidCircularA-Light.woff') format('woff'),
		url('../fonts/EuclidCircularA-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@import "nullstyle.scss";

@function rem($value) {
	$remValue: ($value / 16)+rem;
	@return $remValue;
}

body {
	font-family: 'Circular',
		sans-serif;
}

.container {
	max-width: 1350px;
	padding: 90px 20px;
	margin: 0 auto;
}

.head {
	display: flex;
}

.head__logo {
	flex: 0 1 811/1350*100%;
}

.head__menu {
	flex: 0 1 (1350-811)/1350*100%;
	font-size: rem(26);
	font-weight: 300;


	& a {
		color: #848484;
		font-weight: 300;
	}

	& li {
		display: inline-block;
		margin: 0 75px 0 0px;
	}

	& li:last-child {
		margin: 0;
	}
}


.menu__link {
	&:hover {
		font-weight: 700;
		color: #731F07;
	}
}



.body {
	display: flex;
	padding: 178px 0 0 0;
}

.body__content {
	flex: 0 1 50%;
}

.content__title {
	font-size: rem(60);
	font-weight: 700;
	color: #506269;
	margin: 25px 0 45px 0;
}

.content__text {
	font-size: rem(30);
	font-weight: 300;
	color: #848484;
	margin: 0 0 57px 0;
}

.content__button {
	display: block;
	max-width: rem(492);
	max-height: rem(85);
	line-height: rem(85);
	background-color: #A5410F;
	text-align: center;
	color: #fff;
	font-size: rem(22);
}

.body__image {
	flex: 0 1 50%;
	padding: 0 0 0 30px;

	& img {
		max-width: 100%;
	}
}